body {
    margin: 1em auto;
    width: 800px;
    font-family: sans-serif;
}

.currency {
    font-family: monospace;
}

.ball {
    border-radius: 50%;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    height: 1.2em;
    width: 1.2em;
    padding: 0.5em;
    margin: 0 0.5em;
}
